[Unit]
Description=Ansible Semaphore
After=network.target

[Service]
Type=simple
User=semaphore
Group=semaphore
WorkingDirectory=/var/lib/semaphore
ExecStartPre=+/bin/chown -R semaphore:semaphore /var/lib/semaphore /etc/semaphore
ExecStart=/usr/local/bin/semaphore server --config /etc/semaphore/config.json
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
